<div class="row">
  <div class="col-sm-12">

    <div class="card">
      <img src="" alt="" class="card-img-top">

      <div class="card-body">
        <img class="card-img" src="{{ selectedRecipe.imagePath }}" />
        <h5 class="card-title">{{ selectedRecipe.name }}</h5>
        <p class="card-text">{{ selectedRecipe.description }}</p>
        <ul class="list-group ingreds mb-3">
          <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">{{ ingredient.name }} ({{ ingredient.weight }}gms)</li>
        </ul>

        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" appDropdown>Manage Recipe</button>

          <ul class="dropdown-menu">
            <li><button class="dropdown-item" style="cursor: pointer" (click)="sendIngredient()">Shopping List</button></li>
            <li><a routerLink="edit" class="dropdown-item">Edit</a></li>
            <li><a class="dropdown-item" (click)="deleteRecipe(id-1)">Delete</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
